body {
   
 
    background-color: ghostwhite
   
}
 table{
     margin-top: 15px;
 }

th {
    
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Inria Serif', serif;
    color: silver;
    cursor: pointer;
    
}


header {
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
}
.email {
    color:rgb(28, 28, 235);
    font-size: 15px;
   
    
    
}
.inputAndButton{
    margin-top:40px
}


.searchBttn{
    margin-top:40px;
    border-radius: 20px;;
    letter-spacing: 1px !important;;
    font-size:10px ;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    

    font-weight: bolder;
    
   
   
}
/* header {
    padding: 10px;     
    background-color: #cfd6e6

    
 
} */

img {
    border-radius: 50%;  
    box-shadow: black 1px 1px 8px;  
 }



 .headerText {
    letter-spacing: 1px;
    font-size: 60px;
    font-family: 'Inria Serif', serif;
    font-weight: lighter;
    text-shadow: rgb(102, 102, 102) 1px 1px 1px;   
    color: black
 }

 input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow:none !important;;
    -moz-box-shadow: none !important;;
    -webkit-box-shadow: none !important;;
   
}
input {
    
color: gray !important;
   
}
 .smallerHeaderText{
   color: white;
   font-family: 'Catamaran', sans-serif;
    letter-spacing: 0.5px;
    line-height: 0px;
   
font-weight: lighter;
  
    
    
    margin-top: 0;
 }


 .tableEmployee{
     margin-left: 40px;
     margin-right: 40px;
     padding: 0px;
     font-family: 'Catamaran', sans-serif;
     
    
 }

 /* font-family: 'Karla', sans-serif; */

 
  td {
      font-size: 16px;
      letter-spacing: 0.5px;
      font-family: 'Catamaran', sans-serif;
      font-weight: bold;
    
  }


  