body {
    font-family: 'Karla', sans-serif;
    background-color:#e0f2f1 
}


th {
 
    font-size: 16px;
}


.email {
    color: rgb(64, 64, 248);
    
}

button{
    letter-spacing: 1px;
    padding: 10px;
}
header {
    padding: 10px;  
    margin-top: 30px;   
}

img {
    border-radius: 50%;
    
 }


 .headerText {
    letter-spacing: 1px;
 }

 .input {
     background-color: black;
 

 }
