body {
   
 
   background-color: ghostwhite
   
}


th {
 
    font-size: 18px;
    letter-spacing: 1.5px;
    font-family: 'Catamaran', sans-serif;
    color: silver;
    cursor: pointer;
}



.email {
    color: rgb(28, 28, 189);
    
}

.searchBttn{
    letter-spacing: 1px !important;;
    font-size:10px ;
    background-color:silver!important;
    border-radius: 20px;
    
   
   
}
header {
    padding: 10px;     
    
    background-color: goldenrod;
}

img {
    border-radius: 50%;  
    box-shadow: black 1px 1px 8px;  
 }


 .headerText {
    letter-spacing: 1px;
    font-size: 55px;
    font-family: 'Catamaran', sans-serif;
    font-weight: lighter;

 
    
    color:white
 }

 .smallerHeaderText{
   color:white;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 1px;
    line-height: 0px;
    margin-top: 0;
 }

 .input {
     background-color: black;
 

 }
 .tableEmployee{
     margin-left: 40px;
     margin-right: 40px;
     padding: 0px;
     font-family: 'Catamaran', sans-serif;
    
 }

 /* font-family: 'Karla', sans-serif; */

 
  td {
      font-size: 16px;
      letter-spacing: 0.5px;
      font-family: 'Catamaran', sans-serif;
  }


  